
@media screen and (max-width:330px){
    html{
        font-size: 80%; 
    }

    .td{
        width: 32px;
        height: 32px;
    }

    .noteForm .buttonConfirm .checkMark{
        margin-left: 3.38%;
    }
}